@use '@angular/material' as mat;

html, body { height: 100%;}

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$azure-palette,
    typography: Roboto,
    density: 0
  ));
}

body {
  margin: 0 0 20px;
}

title {

}
